PORT=3000
CLIENT_ORIGIN=https://hooks.xiliumonline.net
WEBFLOW_WEBHOOK_SECRET=XPSJobsWebDev
AUTO_FORWARD_ENABLED=true
FORWARD_TO_EMAIL=mktg@xillium.com  
EMAIL_FROM=erwin@xillium.com
SMTP_HOST=
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=
SMTP_PASS=
SUITECRM_BASE_URL=https://suitecrm-old.xiliumonline.net
SUITECRM_BEARER_TOKEN=
SUITECRM_CLIENT_ID=5aae0281-3166-b39e-8ce8-6813d51d6750
SUITECRM_CLIENT_SECRET=37w1n94n0
SUITECRM_USERNAME=xiliumadmin
SUITECRM_PASSWORD=3,rN7y1@5y2MeyXpv\eM_
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=
MYSQL_DATABASE=webhook_leads
